.board-wrapper {
    width: 100%;
    height: 100%;
    padding: 60px 50px;
    background-color: #F6F7F8;
}

.board-container {
    width: 100%;
    height: 100%;
}

.board-header {
    justify-content: space-between;
    align-items: center;
}

.board-header p {
    font-size: 48px;
    font-weight: bold;
}

.board-header-right {
    justify-content: space-between;
    align-items: center;
    max-width: 370px;
    width: 100%;
    height: 38px;
}

.board-header-search-wrapper {
    align-items: center;
    width: 220px;
    height: 100%;
    border: 1px solid gray;
    padding: 0 8px 0 14px;
    background-color: white;
    border-radius: 7px;
    cursor: text;
}

.board-header-search-container {
    align-items: center;
    width: 100%;
    height: 100%;
}

.board-header-search-input-container {
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 80%;
    border-right: 1px solid lightgray;
}

.board-header-search-input {
    cursor: text;
    border: none;
    outline: none;
}

.board-header-search-input:empty::before {
    content: "Find Task";
    color: lightgray;
}

.board-search-icon {
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

/* ########## SEARCH POPUP */

.board-header-search-popup-full {
    top: 0;
    left: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 1;
}

.board-header-search-popup-container {
    top: 148px;
    left: 0;
    /* background-color: rgba(0, 0, 0, 0.37); */
    padding: 0 65px 0 220px;
}

.board-header-search-popup-spacer-left {
    max-width: 1276px;
    /* background-color: blue; */
}

.board-header-search-input-popup {
    align-items: center;
    min-width: 192px;
    height: 100%;
    outline: none;
    border: none;
    font-size: 14px;
    /* background-color: green; */
}

.board-header-search-popup-spacer-right {
    max-width: 167px;
    /* background-color: yellow; */
}

.board-header-search-popup-spacer-left, .board-header-search-popup-spacer-right {
    width: 100%;
}
/* ########## */

.board-header-addTask-button {
    align-items: center;
    justify-content: space-between;
    width: 103px;
    height: 100%;
    background-color: #2A3647;
    color: white;
    padding: 7px;
    border-radius: 7px;
}

.board-header-addTask-button:hover {
    animation: addTaskButtonColor 125ms ease-in-out;
    background-color: #29ABE2;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
}

@keyframes addTaskButtonColor {
    0% {
        background-color: #2A3647;
        box-shadow: 0;
    } 100% {
        background-color: #29ABE2;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    }
}

.board-header-addTask-button p {
    font-size: 16px;
}

.board-white-plus-image {
    width: 12px;
    height: 12px;
}

.board-content {
    justify-content: space-between;
    padding-top: 60px;
    gap: 30px;
}

.board-column {
    /* background-color: aquamarine; */
    height: 100%;
    max-width: 397px;
    width: 100%;
    gap: 20px;
}

.board-column-header {
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    color: #2A3647;
    padding: 0 5px;
}

.board-column-header-plus {
    justify-content: center;
    align-items: center;
    color: #2A3647;
    border: 1px solid #2A3647;
    border-radius: 8px;
    padding: 3px 3px 8px;
    width: 24px;
    height: 24px;
    font-size: 32px;
    font-weight: 200;
}

.board-column-header-plus:hover {
    border: 1px solid #29ABE2;
    color: #29ABE2;
}


/* ########## TICKET  */
.ticket-container {
    justify-content: space-between;
    align-items: flex-start;
    padding: 18px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    width: 100%;
    max-height: 400px;
    gap: 15px;
}

.board-tickets {
    gap: 16px;
    padding-bottom: 20px;
}

.board-tickets .ticket-container:active {
    box-shadow: 0.5px 2px 4px 3px rgb(0 0 0 / 5%);
    transform: rotate(2.5deg);
}

.ticket-category-container {
    width: 100%;
    color: white;
}

.ticket-category {
    padding: 4px 25px;
    border-radius: 8px;
    font-weight: 400;
    font-size: 16px;
}

.ticket-description-container {
    gap: 12px;
    width: 100%;
    height: 100%;
}

.ticket-description-title {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
}

.ticket-description {
    font-size: 16px;
    color: rgba(0,0,0,0.4);
    line-height: 120%;
    width: 100%;
    height: 100%;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.process-bar-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 22px;
}

.process-bar {
    width: 100%;
    max-width: 600px;
    background-color: rgb(246, 246, 246);
    height: 8px;
}

.process-state {
    min-width: 55px;
}

.ticket-footer-container {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10px 0 0;
}

.ticket-contact {
    padding: 10px 8px;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid #FFFFFF;
    margin: 0px -6px 0px 0px;
}

.contact-placeholder {
    background-color: #2A3647;
    color: white;
}

.state-img {
    width: 16px;
}

.noTask {
    display: none;
}

.onhold-container-last {
    display: block;
}


.onhold-container-first {
    display: none;
}

.highlight-area {
    background-color: transparent;
    border: 2px dotted #d9d8d8;
    border-radius: 30px;
    /* transition: all 225ms ease-in-out; */
}

.no-highlight-area {
    border: none;
}

.highlight-area-more {
    border: 2px dotted #d2d1d1;
    /* background-color: rgb(226, 226, 226); */
}


.ticket-highlight {
    box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.9);
    transform: rotate(2.5deg);
} 



/* ########## RESPONSIVE ########## */
@media screen and (max-width: 1600px) {
    .board-wrapper {
        padding: 30px;
    }
}

@media screen and (max-width: 1300px) {
    .board-content {
        padding-top: 30px;
    }

    .board-header-search-popup-container {
        top: 118px;
        padding: 0 45px 0 200px;
    }
}

@media screen and (max-width: 1200px) {
    .board-content {
        gap: 20px;
    }
    .board-column-header p {
        font-size: 16px;
    }
}

@media screen and (max-width: 1080px) {
    .board-column-header p {
        font-size: 12px;
    }
}

@media screen and (max-width: 1010px) {
    .board-wrapper {
        padding: 40px 20px;
    }

    .board-header > p {
        font-size: 40px;
    }

    .board-header-right {
        height: 40px;
    }

    .board-content {
        padding-top: 40px;
    }

    .board-column-header-plus {
        padding: 3px 3px 6px;
        width: 20px;
        height: 20px;
        font-size: 23px;
        font-weight: 300;
        border-radius: 7px;
    }

    .board-header-search-popup-container {
        top: 128px;
        padding: 0 35px 0 190px;
    }

    .board-header-search-popup-spacer-left {
        max-width: 422px;
    }

    .board-header-search-popup-spacer-right {
        max-width: 168px;
    }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
    .ticket-container {
        padding: 10px;
        border-radius: 20px;
    }

    .ticket-category {
        padding: 2px 16px;
        font-size: 14px;
        border-radius: 7px;
    }

    .ticket-description-title {
        font-size: 14px;
    }

    .ticket-description {
        font-size: 12px;
    }

    .process-bar-container {
        gap: 8px;
    }

    .process-state {
        min-width: 46px;
        font-size: 10px;
    }

    .ticket-contact {
        font-size: 10px;
        width: 30px;
        height: 30px;
        margin: 0 -5px 0 0;
    }
}

@media screen and (max-width: 830px) {
    .board-content {
        gap: 12px;
    }
}

@media screen and (max-width: 800px) {
    .board-wrapper {
        padding: 0px 30px;
    }

    .board-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .board-header-left {
        width: 100%;
        padding-bottom: 30px;
    }

    .board-header-addTask-button-resp {
        align-self: flex-end;
    }

    .board-header-left .board-header-addTask-button-resp {
        display: block;
        width: 34px;
        height: 34px;
        background-color:#2A3647;
        border-radius: 7px;
        padding: 8px;
    }

    .board-header-addTask-button-resp:hover {
        background-color: #29ABE2;
    }

    .board-header-left p {
        font-size: 42px;
    }

    .board-header-left {
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    .board-header-right .board-header-addTask-button {
        display: none;
    }

    .board-header-search-wrapper {
        width: 240px;
        border-radius: 9px;
        padding: 0 11px;
    }

    .board-search-icon {
        width: 20px;
        height: 20px;
        margin-left: 14px;
    }

    .board-content {
        flex-direction: column;
        gap: 30px;
    }

    .board-column {
        max-width: 100%;
    }

    .board-column-header p {
        font-size: 20px;
        
    }

    .board-column-header-plus {
        padding: 3px 3px 8px;
        width: 28px;
        height: 28px;
        border-radius: 10px;
        border: 1px solid black;
        font-size: 37px;
        font-weight: 200;
    }

    .ticket-description {
        -webkit-line-clamp: 3;
    }

    .onhold-container-first {
        display: block;
    }

    .onhold-container-last {
        display: none;
    }

    .emptyColumn {
        height: 60px;
        width: 100%;
    }

    .noTask {
        display: block;
        text-align: center;
        border: 1px dotted #919191;
        color: #919191;
        background-color:#d1d1d1;
        padding: 10px;
        font-size: 14px;
        border-radius: 8px;
        height: 100%;
    }

    .highlight-area {
        height: 50px;
        border-radius: 15px;
        animation: openDragArea 125ms ease-in-out
    }

    @keyframes openDragArea {
        from {
            height: 0px;
        } to {
            height: 50px;
        }
    }

    .board-header-search-popup-container {
        top: 227px;
        padding: 0 30px 0 40px;
    }

    .board-header-search-popup-spacer-left, .board-header-search-popup-spacer-right {
        width: 0%;
    }
}

@media screen and (max-width: 300px) {

    .board-wrapper {
        padding: 0 10px;
    }

    .board-header-left {
        padding-bottom: 25px;
    }

    .boar-header-left p {
        font-size: 35px;
    }

    .board-content {
        padding-top: 28px;
    }



    /* Ticket */

    .ticket-container {
        padding: 10px;
        border-radius: 20px;
    }

    .ticket-category {
        padding: 2px 16px;
        font-size: 14px;
        border-radius: 7px;
    }

    .ticket-description-title {
        font-size: 14px;
    }

    .ticket-description {
        font-size: 12px;
    }

    .process-bar-container {
        gap: 8px;
    }

    .process-state {
        min-width: 46px;
        font-size: 10px;
    }

    .ticket-contact {
        font-size: 10px;
        width: 30px;
        height: 30px;
        margin: 0 -5px 0 0;
    }

    .board-header-search-popup-container {
        top: 212px;
        padding: 0px 10px 0 20px;
    }
}