.contacts-list-wrapper {
    background-color: white;
    min-width: 35%;
    max-width: 35%;
    box-shadow: 4px 0px 4px rgb(0 0 0 / 10%);
    padding: 20px 50px;
    z-index: 1;
    overflow-y: auto;
}

.contacts-list {

}

.contacts-info-wrapper {
    padding: 65px 90px 50px;
    background-color: #F6F7F8;
}

.contacts-info-container {
    justify-content: space-between;
}

.contacts-info-headline {
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.contacts-info-headline-big {
    font-size: 80px;
    font-weight: bold;
    color: #091931;
}

.contacts-info-headline > img {
    height: 93px;
}

.contacts-info-headline-smaller {
    font-size: 40px;
    color: #2A3647;
}

.contacts-info-btn-container {
    justify-content: flex-end;
    align-items: center; 
}

.contacts-info-btn {
    align-items: center;
    background-color: #091931;
    padding: 14px 14px;
    border-radius: 10px;
    gap: 15px;
}

.contacts-info-btn > p {
    font-size: 24px;
    color: white;
    font-weight: bold;
}