body {
    margin: 0;
    background-color: #F6F7F8;
}

.joinLogo {
    width: 8%;
    position: absolute;
    left: 50px;
    top: 50px;
    animation: mysez 1s 1;
    animation-direction: normal;
    z-index: 1;
}

.logPool {
    background-color: #F6F7F8;
    height: 82.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 124px;
}

.logContainer {
    width: 753px;
    height: 49%;
    background-color: #FFFFFF;
    border-radius: 30px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.arrow {
    position: absolute;
    left: 32px;
    top: 30px;
}

.arrowBack {
    position: absolute;
    left: 32px;
    top: 30px;
    display: none;
}

.forgotText {
    font-family: 'Anton', sans-serif;
    font-size: 51px;
    margin-top: 34px;
    font-weight: bold;
}

.forgotDescription {
    margin-top: 34px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 19px;

}

.underline {
    width: 142px;
    height: 4px;
    margin-top: 15px;
}

.input {
    margin-top: 40px;
    width: 46%;
    height: 37px;
    border-radius: 6px;
}

.case {
    position: absolute;
    right: 29%;
    top: 63.4%;
}

.signButton {
    background-color: #2A3647;
    width: 175px;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    margin-top: 33px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
   }

   .decoNone {
    text-decoration: none;
}

@media(max-width: 777px) {
    .logContainer {
        width: 554px;
    }

    .joinLogo {
        width: 80px;
        }

        .forgotText {
            font-size: 38px;
        }
}

@media(max-width: 570px) {
    .logContainer {
        width: 440px;
    }

.arrow {
    left: 15px;
    width: 22px;
}

        .forgotText {
            font-size: 30px;
        }
}

@media(max-width: 460px) {

.joinLogo {
    width: 70px;
}

    .logContainer {
        width: 319px;
        height: 61%;
    }

.forgotText {
    margin-top: 75px;
    width: 50%;
}

.input {
    width: 84%;
}

.case {
    right: 13%;
    top: 66.4%;
}

.underline {
    width: 73px;
}

.forgotDescription {
    width: 84%;
}

.arrowBack {
    display: unset;
    width: 20px;
}

.arrow {
    display: none;
}

}

