<form onsubmit="addTaskToTodo(); return false">       
    <h1>Add Task</h1>
    <div class="flex margin-bottom-24 add-task-form-child">
        <div class="add-task-column-left add-task-column flex column">
            <div class="add-task-column-left-child flex column">
                <span class=>Title</span>
                <input type="text" id="title" required class="add-task-input margin-bottom-24" placeholder="Enter a title">
            </div>
            <div class="add-task-column-left-child flex column">
                <span class=>Description</span>
                <textarea name="description" id="description" placeholder="Enter a description" class="add-task-textarea margin-bottom-24"></textarea>
            </div>
            <div class="add-task-column-left-child flex column">
                <span class=>Category</span>
                <div class="dropdown-container margin-bottom-24">
                    <div class="dropdown" onclick="changeVisibility('category-dropdown')">
                        <span id="dropdown-text-category">Select task category</span>
                        <img src="./assets/img/vector_2.png">
                    </div>
                    <div class="dropdown-content d-none" id="category-dropdown"></div>
                </div>
            </div>
            <div class="add-task-column-left-child flex column">
                <span class=>Assigned to</span>
                <div class="dropdown-container">
                    <div class="dropdown" onclick="changeVisibility('contacts-dropdown')">
                        <span>Select contacts to assign</span>
                        <img src="./assets/img/vector_2.png">
                    </div>
                    <div class="dropdown-content d-none" id="contacts-dropdown">
                    </div>
                </div>
            </div>
        </div>
        <div class="add-task-column-right add-task-column">
            <div class="w-100 flex column">
                <span>Due Date</span>
                <input type="date" id="due-date" class="add-task-input margin-bottom-24" min="2022-10-01" max="2030-12-31">
            </div>
            <div class="w-100 flex column">
                <span>Prio</span>
                <div class="add-task-prio-container margin-bottom-24" id="prio-container"></div>
            </div>
            <div class="w-100 flex column margin-bottom-24">
                <span>Subtasks</span>
                <div class="w-100 subtask-input-container" id="subtask-placeholder-input-ctn" onclick="changeVisibilitySubtask()"> <!--displays if subtask is not clicked-->   
                    <input type="text" class="w-100 subtask-input" placeholder="Add new subtask">
                    <img src="./assets/img/add_task_plus_icon.png" id="subtask-add-icon" class="icon-subtask">
                </div>
                <div class="w-100 subtask-input-container d-none" id="subtask-input-ctn">  <!--displays if subtask is clicked-->   
                    <input type="text" id="subtask-input" class="w-100 subtask-input" maxlength="50">
                    <div class="flex">
                        <img src="./assets/img/add_task_cancel.png" class="icon-subtask" onclick="clearSubtaskInput()">
                        |
                        <img src="./assets/img/add_task_check.png" class="icon-subtask" onclick="addSubtask()">
                    </div>
                </div>
                <ul class="flex column" id="subtask-list-container"></ul>
            </div> 
        </div>
    </div>
    <div class="flex create-task-btn-container">
        <button type="button" onclick="initAddTask()" class="flex add-task-btn clear-btn" onmouseover="clearImageToLightBlue()" onmouseout="clearImageToDarkBlue()">
            Clear
            <img id="clear-image" src="./assets/img/clear-x-icon.png">
        </button>
        <button class="flex add-task-btn accept-btn">
            Create Task
            <img src="./assets/img/check-small.png">
        </button>
    </div>
</form>
